<%- include('../admin_layout/adminHeader.ejs') %>



<section class="content-main">
    <div class="row">

    <form action="/admin/addbanner" method="post" enctype="multipart/form-data">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add Banner</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                
                <h5></h5>

                <% if (typeof message == 'undefined') { %>
                    <h5><%= message %></h5>
                  <% } %>

                  <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="/imgs/theme/upload.svg" alt="" />
                            <input class="form-control" type="file" name="banner_image" />
                             
                            <p></p>

                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="mb-4">
                        <label for="product_title" class="form-label">Banner Name</label>
                        <input type="text" placeholder="Type here" class="form-control" id="product_title" name="bname" />
                    </div>
                   
                  
                    <!-- <div class="row gx-3">
                   
                        <div class="col-md-4 mb-3">
                            <label for="product_color" class="form-label">Starting Date</label>
                            <input type="date" placeholder="Type here" class="form-control" id="product_color" name="starting" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="product_size" class="form-label">Expiry Date</label>
                            <input type="date" placeholder="Type here" class="form-control" id="product_size" name="ending" />
                        </div>
                    </div>
                  -->
                </div>
            </div>
          
        
            <!-- card end// -->
        </div>
       
        <div>
            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
            <button class="btn btn-md rounded font-sm " type="submit">Add Banner</button>
        </div>
    </form>
    </div>
</section>

<%- include('../admin_layout/adminFooter.ejs') %>