
<%- include('../layouts/header.ejs') %>
<section class="p-5">
  <div class="container p-5">
    <div class="rounded-0">
      <div class="mb-3">
        <h5 class="fw-bold">Change Password</h5>
        <hr>
        <form id="editPassForm">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0" id="floatingInputOldPass" placeholder="Old Password" name="old">
            <label for="floatingInputOldPass">Old Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0" id="floatingInputNewPass" placeholder="New Password" name="new">
            <label for="floatingInputNewPass">New Password</label>
            <small id="newPasswordError" class="text-danger"></small>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0" id="floatingInputConPass" placeholder="Confirm Password" name="conew">
            <label for="floatingInputConPass">Confirm Password</label>
          </div>
          <div class="d-grid gap-3 w-100">
            <button type="submit" class="btn btn-dark py-3 btn-ecomm">Change</button>
            <a href="/userdashboard" class="btn btn-outline-dark py-3 btn-ecomm">Cancel</a>

          </div>
        </form>
      </div>
    </div>
  </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
<script>
  document.addEventListener('DOMContentLoaded', function () {
  const editPassForm = document.getElementById('editPassForm');

  editPassForm.addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent default form submission

    const oldPass = document.getElementById('floatingInputOldPass').value;
    const newPass = document.getElementById('floatingInputNewPass').value;
    const conPass = document.getElementById('floatingInputConPass').value;


    
    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$/;

    const newPasswordError = document.getElementById('newPasswordError');
    if (!passwordRegex.test(newPass)) {
      newPasswordError.textContent = 'Invalid password. It should be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.';
      return;
    } else {
      newPasswordError.textContent = ''; // Clear any previous error message
    }
    
    axios.post('/editpass', { old: oldPass, new: newPass, conew: conPass })
      .then(function (response) {
        // Handle success
        console.log('Response:', response.data);
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: response.data.message,
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/profile'; // Redirect to profile page upon successful password update
          }
        });
      })
      .catch(function (error) {
        // Handle error
        console.error('Error:', error.response.data);
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: error.response.data.error,
        });
      });
  });
});

</script>














<%- include('../layouts/footer.ejs') %>